*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

h1 {
  text-transform: uppercase;
  background-color: rgb(78, 78, 78);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  color: #d1d1d1;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 19px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

li {
  width: 150px;
  background-color: rgb(134, 255, 255);
  padding: 5px;
  border-radius: 10px;
}
